@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>

</head>
<body>
<h3>Ürün Listesi</h3>
<table cellpadding="2" cellspacing="2" border="1">

    <tr>
        <th>Id</th>
        <th>Adi</th>
        <th>Fotoğraf</th>
        <th>Fiyatı</th>
    </tr>
   @foreach (var item in ViewBag.product)
   {

   }








</table>
</body>
</html>