@model ETicaretDB.DTO.MarkaListDTO
@{


}





<p>
    <label asp-for="Adi">Adi:</label>
    <input asp-for="Adi" />
</p>
<p>
    <label asp-for="KucukYol">ResimYol:</label>
    <input asp-for="KucukYol" />
</p>