@model ETicaretDB.Models.Marka
@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Sil</h2>
<form method="post">
    <p>
        <label asp-for="Adi">Adi:</label>
        <input asp-for="Adi" />
    </p>
    <p>
        <label asp-for="Resimyol">ResimYol:</label>
        <input asp-for="Resimyol" />
    </p>

    <p><button type="submit">Sil</button></p>
</form>